
html,
body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
}

.navbar-toggler {
  color: white;
}

@media only screen and (max-width: 993px) {
  .navbar-toggler {
    background-color: #292929;
    
  }
}

@media only screen and (max-width: 993px) {
  .navbar-full {
    display: none;
  }
}

.navbar-toggle {
  color: white;
}

.sec1 {
  background-color: rgb(10, 27, 73);
  height: 800px;
}

.hero-section {
  position: relative;
  top: 150px;
  z-index: 2;
}

.hero-section h1 {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 10px;
}

@media only screen and (max-width: 993px) {
  .hero-section h1 {
    font-size: 45px;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 993px) {
  .notification-text {
    font-size: 15px;
  }
}

@media only screen and (max-width: 993px) {
  .btn-head{
    margin-left: 200px;
  }
}

.navbar-mobile{
  border-radius: 10px;
}

.mobile_menu {
  position: absolute;
  right: 0px;
  width: 100%;
  z-index: 10;
}

.nav-btn {
  font-size: 12px;
  padding: 12px 21px !important;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
}


.hero-shape {
  position: absolute;
  top: 10%;
  right: -10px;
  padding: 0;
  display: none;
}


@media only screen and (min-width: 1023px) {
  .hero-shape {
    display: block;
  }
}


.navbar-light .navbar-nav .nav-link {
  color: rgb(255 255 255);
  margin-right: 30px;
}

p {
  color: white;
  font-size: 20px;
}

.ser-btn {
  background-color: rgb(195, 67, 116);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 30px;
}

.inspire {
  position: absolute;
  
}

.learn-more {
  background-color: orangered;
  color: white;
  font-weight: bold;
  border-radius: 30px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.center {
  width: 600px;
  height: 200px;
  margin-top: 110px;
  margin-left: 200px;
  font-size: 30px;
  color: white;
}

.section2 {
  background-color: rgb(255, 255, 255);
}

.our-services {
  color: #FF4495;
}

.h2-IT {
  color: rgb(0, 29, 80);
  font-size: 3em;
  margin-bottom: 10px;
  font-weight: 600;
}

.h2-ITT {
  color: rgb(0, 29, 80);
  font-size: 3em;
  margin-bottom: 10px;

}

.icon {
  font-weight: bold;
  color: rgb(0, 29, 80);
  font-size: 25px;
}

.icon-p {
  color: gray;
  font-size: 15px;
  font-weight: lighter;
}

.f-awe {
  color: #FF4495;
  font-size: 75px;
  background-color: white;
  margin-bottom: 30px;
  width: 120px;
  height: 120px;
  background: #fff;
  line-height: 100px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0px 15px 25px rgba(0, 4, 74, 0.04);
}

.sec2-pad {
  margin-bottom: 75px;
}

.f-a {
  color: #FF4495;
  font-size: 75px;
}

.section3 {
  background-color: rgb(249, 249, 249);
}

.notification {
    box-shadow: 0px 20px 30px rgba(0,0,0,0.06);
    border-radius: 7px;
    background: #fff;
    position: relative;
    padding-left: 10px;
    bottom: 40%;
    right: -26%;
    z-index: 0;
}

@media only screen and (max-width: 992px) {
  .notification {
    position: inherit;
  }
}

.notification-p {
  color: #292929;
  font-size: 15px;
}

.notification .col-8 {
  margin-top: 20px;
  margin-left: 30px;
}

#hero-sec3 {
  width: 100%;
}

@media only screen and (max-width: 508px) {
  #hero-sec3 {
    width: 325px;
  }
}

.hero-sec3 {
  margin-left: 15%;
}

.section4 {
  background-color: rgb(0, 29, 80);
}

.industry-link {
  color: white;
}

.section-tittle {
  color: white;
}

.it-h2 {
  font-size: 50px;
  display: block;
  font-weight: 600;
  margin-bottom: 17px;
}

span {
  color: #FF4495;
  font-weight: bold;
}

.single-cat {
  color: rgba(218, 112, 214, 0.459);
  font-size: 75px;
  border: .5px solid;
  padding: 20px;
}

.section5 {
  background-color: rgb(249, 249, 249);
}

.idsec5 {
  font-size: 45px;
  color: rgb(0, 29, 80);
}

.idsec6 {
  font-size: 18px;
  color: rgb(0, 29, 80);
}

.btn-sec6 {
  color: #FF4495;
  font-weight: bold;
  border-radius: 30px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: .5px solid;
}

#idsec7 {
  color: rgb(0, 29, 80);
  font-size: 64px;
}

.section6 {
  background-color: rgb(249, 249, 249);
  padding-top: 120px;
  padding-bottom: 100px;
}

.section6-img1 {
    background-image: linear-gradient( rgba(0, 132, 255, 0.45), rgba(0, 132, 255, 0.45) ), 
    url(img/ezgif-2-23981be6ff11.png);
    background-color: #45464a;
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    height: 19rem;
    width: 22rem;
    border-radius: 10px;
}

.section6-img2 {
  background-image: linear-gradient( rgba(0, 132, 255, 0.45), rgba(0, 132, 255, 0.45) ), 
  url(img/ezgif-2-2d591551066b.png);
  background-color: #494b4f;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  height: 19rem;
  width: 22rem;
  border-radius: 10px;
}

.section6-img3 {
  background-image: linear-gradient( rgba(0, 132, 255, 0.45), rgba(0, 132, 255, 0.45) ), 
  url(img/ezgif-2-823d93dfde62.png);
  background-color: #484a4f;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  height: 19rem;
  width: 22rem;
  border-radius: 10px;
}

.idsec77 {
  color: rgb(0, 29, 80);
  font-size: 100px;
  font-weight: 500;
}

.idsec7 {
  color: rgb(0, 29, 80);
  font-size: 25px;
  font-weight: 500;
}

#imgsec7 {
  width: 100%;
}

#icon-footer {
  color: black;
  margin-bottom: 40px;
}

#footer-p {
  color: black;
  font-size: 18px;
}

#span-footer {
  color: black;
  font-weight: 300;
  text-decoration: underline;
}

/* .ul .li .a{
    text-decoration: none;
    color: gray;
    margin-bottom: 15px;
    list-style: none;
    color: #232F55;
    font-weight: 300;
    font-size: 16px;
    text-decoration: underline transparent;
} */


/* Be careful section 8*/
.industry {
  background-image: linear-gradient(to right, rgb(1, 1, 78), rgb(1, 11, 39));
}

.indus {
  border: 1px solid white !important;
  background: transparent;
}

.sec8-p {
  color: black;
  font-size: 15px;
}

.count {
  color: black;
  font-size: 3rem;
}

.cust-container {
  width: 100%;
}

.stuff img {
  background-blend-mode: lighten;
}

.card {
  color: #f0f0f0;
  height: auto;
  border-color: #646262;
}

.iconify-cloud,
.iconify-services {
  font-size: 5em;
  color: #f75c94;
}

.iconify-indus {
  font-size: 4em;
  color: #f75c94;
}

.fa-industry,
.fa-user-graduate,
.fa-cart-shopping,
.fa-plane-circle-check {
  font-size: 5em;
  color: #f75c94;
}

.fa-facebook {
  text-shadow: 0 0 16px rgb(202, 202, 202);
}

.text-block {
  position: absolute;
  bottom: 150px;
  left: 250px;
  width: 300px;
  height: 100px;
  border-radius: 5px;
  padding: 20px;
}


.circle-2 {
  width: 50px;
  height: 50px;
  background-color: rgb(245, 178, 215);
  border-radius: 50%;
}

.moto-text {
  font-size: x-small;
}

.image-grow {
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  height: 27rem;
  width: 25rem;
  border-radius: 15px;
}

.image {
  background-image: linear-gradient(rgba(0, 132, 255, 0.45),
      rgba(0, 132, 255, 0.45)), url("img/ezgif-2-23981be6ff11.png");
  background-color: #4f5052;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  height: 22rem;
  width: 20rem;
  border-radius: 15px;
}

.image1 {
  background-image: linear-gradient(rgba(0, 132, 255, 0.45),
      rgba(0, 132, 255, 0.45)), url("img/ezgif-2-2d591551066b.png");
  background-color: #4f5052;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  height: 22rem;
  width: 20rem;
  border-radius: 15px;
}

.image2 {
  background-image: linear-gradient(rgba(0, 132, 255, 0.45),
      rgba(0, 132, 255, 0.45)), url("img/ezgif-2-823d93dfde62.png");
  background-color: #4f5052;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  height: 22rem;
  width: 20rem;
  border-radius: 15px;
}

.circle1 {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
}

.img-card-text h4 {
  font-weight: 500;
}

.img-card-text p {
  font-size: x-small;
}



.innovative {
  background-image: linear-gradient(rgba(0, 132, 255, 0.45),
      rgba(0, 132, 255, 0.45)), url("img/ezgif-2-82af66fcd1cb.png");
  background-color: #4f5052;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  height: 100%;

}

.iconify-social {
  font-size: 1.8rem;
  margin-right: 0.8rem;
}

.play {
  color: #f75c94;
  font-size: 4rem;
}

.btn-partner {
  color: #f75c94;
  background-color: transparent;
  border-radius: 25px !important;
  border: 1px solid #f75c94 !important;
  cursor: pointer;
}

.btn3 {
  background-color: #f0f0f0;
  color: #f75c94;
  border-radius: 35px;
  cursor: pointer;
  width: auto;
  font-size: small;
  font-weight: bold;
}


.contact-link {
  color: black;
  padding: 50
}

.linksitem a {
  text-decoration: none !important;
  margin: 0.6rem 0 !important;
  cursor: pointer;
  color: rgb(32, 38, 43);
  font-size: medium;
  font-weight: 200;
}

.email {
  border: 1px solid grey;
  border-radius: 25px;
  width: 200px;
}

.colorlib {
  color: #f75c94;
}

.gs-moto {
  font-weight: bold;
}

/* #example {
    position: relative;
}

.overlay-text {
  background-color:rgba(18, 58, 159, 0.299);
  padding:228px;
  text-align:center;
  position: absolute;
  top: 16%;
} */
/* img {

display: -webkit-box;

margin-left: auto;

}
.head {
    float: left;
} */